.googleContBtn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.googleContBtnHidden{
    pointer-events: none;
    opacity: 0;
}

.googleContBtnShow{
    pointer-events: auto;
    opacity: 1;
}